body {
  font-family: 'Helevtica', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 80vw;
}
img { max-width: 100%; }

.primary-content {
  display: flex;
  margin: 1rem;
}

.primary-content__text {
  width: calc(100% / 3 * 2);
  padding-right: 40px;
}

.primary-content__form {
  background-color: rgb(22, 43, 67);
  color: #fff;
  padding: 25px;
  width: calc(100% / 3 * 1);
}


.media-list {
  list-style-type: none;
}

.media-list__media {
  max-width: 100%;
}